body {
  background-color: rgb(138, 222, 236);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

p {
  margin-left: 50px;
}

h5 {
  padding: 0;
  margin: 0;
}

.button {
    border: .2rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 4.5rem;
    padding: 1rem .5rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    background: rgba(238, 235, 235, 0.8);
    text-shadow: 0 0 .5rem black;

  }

.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(250, 174, 59);
  border-color: rgb(250, 174, 59);
  transform: scale(1.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}


.scoreboard {
  border: .2rem solid black;
}

